---

import PrivacidadeContainer from '../../components/Privacidade/PrivacidadeContainer.astro';
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Privacidade">
  

  <div class="w-full h-full bg-black flex justify-center items-center  flex-col">
    <PrivacidadeContainer />
    
  </div>
</Layout>
