---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import PostPage from "../../components/blog/PostPage";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

if (!post?.data) {
  return Astro.redirect("/blog");
}
---

<Layout title={post.data.title}>
  <div class="font-blog">
    <PostPage post={post} client:visible />
  </div>
</Layout>
