---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import { products } from "../../data/products";
import ProductWrapper from "../../components/Product/ProductWrapper.tsx";

export async function getStaticPaths() {
  return products.map(product => ({
    params: { slug: product.slug }
  }));
}

const { slug } = Astro.params;
const product = products.find((p) => p.slug === slug);

if (!product) {
  throw new Error("Produto não encontrado");
}
---

<Layout title={product.title}>
  <div class="w-full h-full overflow-hidden flex flex-col items-center justify-center  bg-white mt-8 sm:mt-16">
    <ProductWrapper product={product} client:load/>
  </div>
</Layout>
