---
import Layout from '../layouts/Layout.astro';
import ContentPageWrapper from '../components/UI/ContentPageWrapper';
---

<Layout title="About - Litco Skateboarding">
  <section class="w-full flex flex-col gap-12 m-8 px-4 md:px-16 py-16 sm:py-16 text-white bg-[#232222]/80 justify-center items-start ml-8 mr-8">
    <div class="text-right">
      <h1 class="text-4xl font-bold fill-over-stroke font-heading stroke-4 stroke-black">About Us</h1>
    </div>

    <div class="w-full flex justify-center items-center">
      <ContentPageWrapper title="About Us" client:load>
        <p>
          Founded in 2021, Litco Skateboarding aims to unite skateboarders and friends<br />
          from diverse cultures that enrich the skateboarding experience.<br />
          We embrace skate culture as a vital force for personal growth and dynamic expression,<br />
          blending culture, sport, and leisure into a vibrant community.
        </p>
      </ContentPageWrapper>
    </div>
  </section>
</Layout>
