---
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/blog/BlogList";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const sortedPosts = posts.sort((a, b) => b.data.date.localeCompare(a.data.date));
---

<Layout title="Blog">
  <div class="font-blog flex flex-col w-full py-16 px-8 h-full justify-start mt-4 items-center bg-[#131819]">
    <div class="flex justify-start items-start w-full">
      <div class="relative max-w-5xl flex-row flex gap-4 justify-left items-center mb-4">
        <img src="/logos/favicon-zaylo.png" class="w-10 md:w-10" alt="" />
        <h1 class="text-white font-blog font-bold text-4xl md:text-4xl">Blog</h1>
      </div>
    </div>
    <div class="relative">
      <BlogList posts={sortedPosts} client:visible />
    </div>
  </div>
</Layout>
