---
import CheckoutPage from '../components/Shop/CheckoutPage';
import '../styles/global.css'
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Checkout - Zaylo</title>
  </head>
  <body style="background-color: white; margin: 0;">
    <CheckoutPage client:load />
  </body>
</html>