---
import Layout from '../layouts/Layout.astro';
import BannerContainer from '../components/Home/BannerContainer';
import NewArrivalsContainer from '../components/Home/NewArrivals.astro';
import VestContainer from '../components/Home/VestContainer';
import FreedomLeashContainer from '../components/Home/FreedomLeashContainer';
import ProductContainer from '../components/Home/Product';
---

<Layout title="Zaylo">

  <section class="relative flex flex-col w-full gap-6 justify-center items-center bg-center bg-[#131819] border-b border-white z-30">

    <div class="flex w-full h-full sm:flex-row flex-col gap-6 sm:gap-0">
      <BannerContainer client:visible />
      <NewArrivalsContainer />
    </div>

    <div class="flex w-full h-full sm:flex-row flex-col gap-6 sm:gap-0">
      <VestContainer client:visible />
      <FreedomLeashContainer client:visible />
    </div>

    <ProductContainer client:visible />

  </section>
</Layout>
