---
import Layout from '../layouts/Layout.astro';
import AppLayout from '../components/UI/AppLayout';
---

<Layout title="Produtos">
  <div class="w-full h-full overflow-hidden flex flex-col items-center justify-center">
    <AppLayout client:load/>
  </div>
</Layout>
