---
import TextTwoContainer from '../../components/Sobre/TextTwoContainer.astro';
import Layout from '../../layouts/Layout.astro';
import MainVideoContainer from '../../components/Sobre/MainVideo';
import TextThreeContainer from '../../components/Sobre/TextThreeContainer.astro';
import TextFourContainer from '../../components/Sobre/TextFourContainer.astro';
import TextFiveContainer from '../../components/Sobre/TextFiveContainer.astro';
---

<Layout title="Sobre">
  

  <div class="w-full h-full bg-black flex justify-center items-center  flex-col">

    <MainVideoContainer client:visible />
    <div class="flex sm:flex-row flex-col h-full w-full">
      <TextTwoContainer />
      <TextThreeContainer />
    </div>

    <div class="flex sm:flex-row flex-col h-full w-full">
    <TextFourContainer />
    <TextFiveContainer />
    </div>

  </div>
</Layout>
