---
import '../styles/global.css'
import FooterComponent from "../components/UI/Footer.astro";
import AppWrapper from '../components/UI/AppWrapper';
---
<!-- Website made by industriebrasil.com.br -->
<!doctype html>
<html lang="en" class="scroll-smooth">

	<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width" />
			<link rel="icon" type="image/png" sizes='32x32' href="/logos/favicon.png" />
			<meta name="generator" content={Astro.generator} />
			<title>{Astro.props.title}</title>
			<!-- Google tag (gtag.js) -->
			<script async 
			src="https://www.googletagmanager.com/gtag/js?id=G-BTC5XWKW6Y">
			</script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'G-BTC5XWKW6Y');
			</script>
	</head>
	
	<body>
		  <AppWrapper client:load>
				<slot />
			</AppWrapper>
  		  <FooterComponent />
	</body>

</html>

<style>
	html,
	body {
		background-color: black;
		margin: 0;
		width: 100%;
		height: 100%;
	
		
	}
	.container-full{
		overflow-x: hidden;
	}

	*, *::before, *::after {
  box-sizing: border-box;
}
</style>
