---


import '../styles/global.css'
import AppLayout from '../components/UI/AppLayout.tsx';
---
<!-- Webste made by industriebrasil.com.br -->
<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes='32x32' href="https://res.cloudinary.com/dmgypxge0/image/upload/v1748859148/favicon-kaduxx_csnwy3.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		
	</head>
	<body >
		
	</body>
</html>

<style>
	html,
	body {
		background-color: black;
		margin: 0;
		width: 100%;
		height: 100%;
	
		
	}
	.container-full{
		overflow-x: hidden;
	}

	*, *::before, *::after {
  box-sizing: border-box;
}
</style>
