---
import AjudaContainer from '../../components/Ajuda/AjudaContainer';

import Layout from '../../layouts/Layout.astro';

---

<Layout title="Ajuda">
  

  <div class="w-full h-full bg-black flex justify-center items-center  flex-col">

    <AjudaContainer client:load/>
  </div>
</Layout>
